/* Miscellanoeous */
body,
html {
    overflow-x: hidden;
    padding-right: 0 !important; // resets padding right added by Bootstrap modal
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
    overflow: auto;
}

.container-scroller {
    overflow: hidden;
}

pre {
    background: color(gray-lighter);
    padding: 15px;
    font-size: 14px;
}

code {
    padding: 5px;
    color: $danger;
    font-family: $type1-light;
    font-size: $default-font-size;
    border-radius: 4px;
}

.page-header {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    margin: 0 0 1.5rem 0;

    .breadcrumb {
        border: 0;
        margin-bottom: 0;
    }
}

.page-title {
    color: $page-title-color;
    font-size: 1.125rem;
    margin-bottom: 0;

    .page-title-icon {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);

        i {
            font-size: .9375rem;
            line-height: 36px;
        }
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.timeline {
    position:relative;

    &:before {
        content:"";
        position:absolute;
        top:0;
        left:1rem;
        height:100%;
        border-right:2px solid #dee2e6
    }
}
.timeline-block {
    position:relative;

    &:after {
        content:"";
        display:table;
        clear:both
    }
    &:first-child {
        margin-top:0;
    }
    &:last-child {
        margin-bottom:0;
    }
}
.timeline-step {
    position:absolute;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    left:0;
    width:26px;
    height:26px;
    border-radius:50%;
    background:#fff;
    text-align:center;
    transform:translateX(-50%);
    font-size:1rem;
    font-weight:600;
    z-index:1;

    i, svg, span {
        line-height: 1.4
    }
}
.timeline-content {
    margin-left:45px;
    padding-top:.35rem;
    position:relative;
    top:-6px;

    &:after {
        content:"";
        display:table;
        clear:both
    }
}
@media (min-width:992px) {
    .timeline:before {
        left:50%;
        margin-left:-1px
    }
    .timeline-step {
        left:50%
    }
    .timeline-content {
        width:38%
    }
    .timeline-block:nth-child(2n) .timeline-content {
        float:right
    }
}
.timeline-one-side .timeline-step,
.timeline-one-side:before {
    left:1rem
}
.timeline-one-side .timeline-content {
    width:auto
}
@media (min-width:992px) {
    .timeline-one-side .timeline-content {
        max-width:30rem
    }
}
.timeline-one-side .timeline-block:nth-child(2n) .timeline-content {
    float:none
}
